.title-block {
    margin: 32px 0 64px;
    text-align: center;
}

.title-title {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 12px;
}

.title-description {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
    color: #444444;
}

.projects {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.project {
    max-width: 360px;
    flex-basis: 360px;
    display: flex;
    text-decoration: none;
}

.project-info {
    background: #f5f5f5;
    padding: 24px 24px 0;
}

.project-info-name {
    color: #ff8562;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.project-info-size {
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4px;
}

.project-info-area {
    color: #000;
    font-size: 14px;
    margin-bottom: 32px;
}
