.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 16px 32px;
    box-sizing: border-box;
}

.photos {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.photo, .projectLink {
    margin: 8px;
}

.photo {
    max-width: calc(50% - 16px);
    max-height: 400px;
    display: flex;
    text-decoration: none;
    object-fit: contain;
}

.projectLink {
    display: flex;
    align-items: center;
    background: #eeeeee;
    text-decoration: none;
}

.projectLink-image {
    max-height: 100%;
    max-width: 100%;
}

.projectLink-text {
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    color: #000;
}

.projectLink-name {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 32px;
}

.description, .feedback, .photos {
    margin-bottom: 48px;
}

.sub-caption {
    margin-bottom: 16px;
}

.feedback-content {
    display: flex;
}

.feedback-text {
    background: #f7f7f7;
    padding: 16px;
    border-radius: 12px;
}

.feedback-photo {
    width: 78px;
    height: 78px;
    margin-right: 16px;
    border-radius: 78px;
    flex-shrink: 0;
}

.feedback-video {
    width: 100%;
}

@media screen and (min-width: 769px) {
    .projectLink {
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .projectLink {
        flex-wrap: wrap;
    }
}

