.header {
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
}

.header-absolute {
    position: absolute;
}

.header-fixed {
    position: fixed;
}

.content {
    flex-grow: 1;
}

.breadcrumbs {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

@media screen and (max-width: 640px) {
    .breadcrumbs {
        display: none;
    }
}
