.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.caption {
    margin-bottom: 32px;
}

.data {
    margin-bottom: 32px;
}

.items {
    display: flex;
    justify-content: center;
    margin: 32px 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.item-number {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
}

.item-price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.item-title {
    font-size: 18px;
    text-align: center;
}

@media screen and (min-width: 401px) {
    .item-centered {
        border-left: 1px solid #d1d1d1;
        border-right: 1px solid #d1d1d1;
    }
}

@media screen and (max-width: 400px) {
    .items {
        flex-direction: column;
    }

    .item-centered {
        border-top: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
    }
}
