.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.item {
    width: 300px;
    flex-grow: 1;
    margin: 16px;
}
