.title {
    color: #999;
    font-size: 14px;
    margin-bottom: 6px;
}

.items {
    display: flex;
}

.item {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 8px 8px 0;
}

.item-title {
    font-size: 12px;
    color: #757575;
}

.item-picker {
    height: 24px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    width: 64px;
    box-sizing: border-box;
}

.item-color {
    border: 1px solid #999;
    display: inline-block;
    padding: 2px;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    box-shadow: 0 0 0 2px #fff inset;
    margin-right: 8px;
}

.item-selected .item-color,
.item-color:hover {
    border-color: #000;
}

