.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
    box-sizing: border-box;
}

.subCaption {
    margin-bottom: 16px;
}

.data {
    margin-bottom: 48px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 64px 0 16px;
}
