.content {
    display: flex;
    justify-content: center;
    max-width: 1168px;
    margin: 0 auto;
}

.padding-top-s { padding-top: 16px; }
.padding-top-m { padding-top: 32px; }
.padding-top-l { padding-top: 48px; }

.padding-bottom-s { padding-bottom: 16px; }
.padding-bottom-m { padding-bottom: 32px; }
.padding-bottom-l { padding-bottom: 48px; }

.info {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.image {
    display: block;
    max-width: 100%;
}

@media screen and (min-width: 401px){
    .content {
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
    }

    .image {
        margin: 0 16px 0 0;
    }
}

@media screen and (max-width: 400px){
    .content {
        flex-direction: column;
        align-items: stretch;
    }

    .image {
        margin: 0 16px 16px 16px;
    }
}

