.content {
    width: 792px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    box-sizing: border-box;
}

.header-caption {
    margin-bottom: 48px;
}

.caption {
    margin-bottom: 32px;
}

.text:not(:last-child),
.image-block:not(:last-child) {
    margin-bottom: 32px;
}

.block:not(:last-child) {
    margin-bottom: 48px;
}

.image {
    max-width: 100%;
}

.list-caption {
    font-weight: bold;
    margin-bottom: 8px;
}

.list-text {
    margin-bottom: 16px;
}

.ul, .ol {
    padding: 0;
}

.li {
    margin-bottom: 24px;
    font-size: 20px;
}

.image-description {
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
    color: #999;
}

