.container {
    max-width: 760px;
    margin: 0 auto;
    padding: 0 32px;
}

.item:not(:last-child) {
    margin-bottom: 32px;
}

.group-name {
    font-size: 20px;
    color: #adadad;
    margin-bottom: 8px;
}

.question {
    padding: 16px;
    background: #efefef;
    margin-bottom: 2px;
    cursor: pointer;
}

.question-text {
    display: flex;
    justify-content: space-between;
}

.answer {
    margin-top: 12px;
}
