.container {
    height: 80px;
    background: #91001d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.site {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.title {
    color: #fff;
    font-size: 18px;
}

.left {
    display: flex;
    flex-grow: 1;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.item {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 0 16px;
}
