.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    padding-left: 0;
    padding-right: 0;
}

.width-l { max-width: 100%; }
.width-m { max-width: 1200px; }
.width-s { max-width: 728px; }

.padding-top-s { padding-top: 16px; }
.padding-top-m { padding-top: 32px; }
.padding-top-l { padding-top: 48px; }

.padding-bottom-s { padding-bottom: 16px; }
.padding-bottom-m { padding-bottom: 32px; }
.padding-bottom-l { padding-bottom: 48px; }

.group:not(:last-child) {
    margin-bottom: 32px;
}

.group-name {
    font-size: 20px;
    color: #adadad;
    margin-bottom: 8px;
}

.item {
    padding: 16px;
    background: #efefef;
    margin-bottom: 2px;
}
