.content {
    display: flex;
    justify-content: space-around;
    max-width: 1168px;
    margin: 16px auto 0;
}

.phone-block-phone, .phone-block-email {
    display: block;
    text-decoration: none;
    color: #fff;
}

.phone-block-phone {
    font-size: 32px;
}

.phone-block-email {
    font-size: 30px;
}

.phone-block {
    margin-bottom: 16px;
    text-align: center;
}

.first-column {
    min-width: 200px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #003159;
}

.second-column {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    background: #fff;
}

@media screen and (max-width: 640px)  {
    .content {
        flex-direction: column;
    }

    .first-column {
        margin: 16px 16px 0;
    }

    .second-column {
        margin: 0 16px 16px;
    }

    .social-networks {
        justify-content: center;
    }

    .phone-block-phone {
        font-size: 20px;
    }

    .phone-block-email {
        font-size: 18px;
    }
}
