.component-select-item {
    color: #b3b3b3;
    cursor: pointer;
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid #b3b3b3;
}

.component-select-item:hover {
    color: #fff;
    background: #b3b3b3;
}
