.items {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
}

@media screen and (min-width: 641px) {
    .items {
        margin: 32px auto 64px;
    }
}

@media screen and (max-width: 640px) {
    .items {
        flex-direction: column;
        align-items: center;
    }
}

.icon {
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
}

.caska-icon {
    background-image: url('./resources/caska.svg');
}

.galka-icon {
    background-image: url('./resources/galka.svg');
}

.money-icon {
    background-image: url('./resources/money.svg');
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
}

.caption {
    margin: 8px;
}

.text {
    margin: 8px;
}
