.title {
    color: #000;
    font-size: 18px;
    margin-bottom: 16px;
    cursor: pointer;
}

.error {
    color: #91001c;
    font-size: 12px;
    margin-top: 4px;
}

.items {
    margin-left: 16px;
}
