.formContainer {
    display: flex;
    justify-content: center;
}

.formWrapper {
    max-width: 100%;
    width: 1200px;
    padding: 16px;
    box-sizing: border-box;
}

.button:not(:last-child) {
    margin-right: 16px;
}

.button {
    margin-top: 16px;
    margin-bottom: 16px;
}
