.padding-top-s { padding-top: 16px; }
.padding-top-m { padding-top: 32px; }
.padding-top-l { padding-top: 48px; }

.padding-bottom-s { padding-bottom: 16px; }
.padding-bottom-m { padding-bottom: 32px; }
.padding-bottom-l { padding-bottom: 48px; }

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    text-decoration: none;
    display: flex;
    flex-grow: 1;
}

.item-wrapper {
    flex-basis: 360px;
    max-width: 370px;
    margin: 16px;
    flex-grow: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.not-found {
    text-align: center;
    padding: 16px;
}

@media screen and (min-width: 768px) {
    .item {
        flex-basis: 33%;
    }
}

@media screen and (max-width: 768px) {
    .item {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 400px) {
    .item {
        flex-basis: 100%;
    }
}
