.l {
    font-size: 24px;
    line-height: 30px;
}

.m {
     font-size: 19px;
     line-height: 24px;
 }

.s {
    font-size: 15px;
    line-height: 20px;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

@media screen and (max-width: 640px)  {
    .l {
        font-size: 20px;
        line-height: 24px;
    }

    .m {
        font-size: 16px;
        line-height: 20px;
    }

    .s {
        font-size: 13px;
        line-height: 18px;
    }
}

@media screen and (max-width: 400px) {
    .l {
        font-size: 16px;
        line-height: 20px;
    }

    .m {
        font-size: 14px;
        line-height: 18px;
    }

    .s {
        font-size: 12px;
        line-height: 16px;
    }
}
