.container {
    flex-basis: 360px;
    max-width: 360px;
    margin: 16px;
    flex-grow: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .container {
        flex-basis: 350px;
    }
}

.container-white {
    background: #fff;
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
}

.container-grey {
    background: #f5f5f5;
}

.image-wrapper {
    position: relative;
    flex-basis: 35%;
    flex-shrink: 0;
    margin-left: 12px;
}

.image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content {
    flex-grow: 1;
}

.buttons {
    display: flex;
    margin: 24px;
}

.button {
    font-size: 13px;
    font-weight: bold;
    padding: 8px 16px;
    margin-right: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.button-first-red {
    color: #fff;
    background: #91001d;
}

.button-first-yellow {
    background: #ffe100;
    color: #000;
}

.button-second {
    color: #000;
    border: 1px solid #000;
}
