.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    margin: 0 auto;
}

.tile {
    width: 260px;
    height: 100px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 8px;
    margin: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.link-tile {
    background: #92011e;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
}

.add-tile {
    background: #19712c;
    font-size: 36px;
}
