.text {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
}

.width-l { max-width: 100%; }
.width-m { max-width: 1200px; }
.width-s { max-width: 728px; }

.color-black { color: #000; }
.color-white { color: #ffffff; }

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

.size-l { font-size: 52px; }
.size-m { font-size: 42px; }
.size-s { font-size: 26px; }

.padding-top-s { padding-top: 16px; }
.padding-top-m { padding-top: 32px; }
.padding-top-l { padding-top: 48px; }

.padding-bottom-s { padding-bottom: 16px; }
.padding-bottom-m { padding-bottom: 32px; }
.padding-bottom-l { padding-bottom: 48px; }

@media screen and (max-width: 640px) {
    .size-l { font-size: 38px; }
    .size-m { font-size: 30px; }
    .size-s { font-size: 22px; }
}

@media screen and (max-width: 400px) {
    .size-l { font-size: 32px; }
    .size-m { font-size: 24px; }
    .size-s { font-size: 16px; }
}

@media screen and (max-width: 350px) {
    .size-l { font-size: 28px; }
    .size-m { font-size: 22px; }
    .size-s { font-size: 14px; }
}
