.layout,
.banner,
.content-container {
    height: 100vh;
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container,
.layout {
    position: absolute;
    top: 0;
    left: 0;
}

.layout {
    background-image: linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.80)) !important;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 14%;
}

.header {
    max-width: 600px;
    margin-bottom: 32px;
}

.description {
    color: #fff;
    opacity: .7;
}

.button {
    margin: 64px 16px 32px;
}

@media screen and (max-width: 640px) {
    .content {
        margin: 0 7%;
    }

    .button {
        margin: 32px 16px 16px;
    }
}

