.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.mobilnie {
    background-image: url('./resources/mobilnie.jpg');
}

.karkas {
    background-image: url('./resources/karkas.jpg');
}

.brus {
    background-image: url('./resources/brus.jpg');
}

.doma-brus {
    background-image: url('./resources/doma-brus.jpg');
}

.item {
    flex-basis: 560px;
    position: relative;
    margin: 16px;
    cursor: pointer;
    text-decoration: none;
    background-size: cover;
    background-position: center;
}

.item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.50));
}

.item:hover .item-overlay {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.40), rgba(0,0,0,0.20));
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    z-index: 5;
    position: relative;
}

.item-caption {
    margin: 16px;
}

.item-button {
    margin: 16px;
}

