.formContainer {
    display: flex;
    justify-content: center;
}

.formWrapper {
    max-width: 100%;
    width: 1200px;
    padding: 16px;
    box-sizing: border-box;
}

.button:not(:last-child) {
    margin-right: 16px;
}

.button {
    margin-top: 16px;
    margin-bottom: 16px;
}

.error {
    text-align: center;
    margin-top: 64px;
}

.name {
    margin-bottom: 30px;
}

.select {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #000;
}
