.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.item, .arrow {
    color: #707070;
}

.link-item {
    color: #91001c;
    text-decoration: none;
}

@media screen and (min-width: 641px) {
    .mobile-element {
        display: none;
    }

    .arrow {
        margin: 0 8px;
    }
}

@media screen and (max-width: 640px) {
    .desktop-element {
        display: none;
    }

    .arrow {
        margin-right: 8px;
    }
}
