.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 32px;
}

.caption, .description {
    margin: 32px 48px;
}

@media screen and (max-width: 640px) {
    .caption, .description {
        margin: 32px;
    }
}
