.wrapper {
    display: flex;
    justify-content: center;
}

.caption, .description {
    margin: 0 48px 32px;
}

.caption {
    max-width: 1200px;
}

.description {
    max-width: 800px;
}

@media screen and (max-width: 640px) {
    .caption, .description {
        margin: 0 48px 16px;
    }
}
