.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
    box-sizing: border-box;
}

.items {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
