.filters {
    width: 1168px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.filters-caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.filters-items {
    display: flex;
    flex-wrap: wrap;
}

.filters-item {
    padding: 8px;
    background: #98c4e8;
    margin: 4px 8px 4px 0;
    cursor: pointer;
    color: #000;
    border-radius: 4px;
}

.filters-item-enabled {
    color: #fff;
    background: #003159;
}
