.container {
    position: relative;
}

.layout, .banner, .content {
    height: 100vh;
    width: 100%;
}

.content, .layout {
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 14%;
    box-sizing: border-box;
}

.banner {
    background-size: cover;
}

.layout {
    background-image: linear-gradient(to top, rgba(0,0,0,0.70), rgba(0,0,0,0.80)) !important;
}

.header {
    max-width: 1000px;
    margin-bottom: 32px;
}

.description {
    color: #fff;
    opacity: .7;
}

.button {
    margin: 64px 16px 32px;
}

@media screen and (max-width: 640px) {
    .banner {
        background-position-x: 57%;
    }

    .content {
        padding: 0 7%;
    }

    .button {
        margin: 32px 16px 16px;
    }
}

