.container {
    position: relative;
}

.layout, .banner, .content {
    height: 100vh;
    width: 100%;
}

.content, .layout {
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner {
    background-size: cover;
    background-position: center;
}

.layout {
    background-image: linear-gradient(to top, rgba(0,0,0,0.70), rgba(0,0,0,0.80)) !important;
}

