html {
  min-height: 100%;
  font-family: system-ui, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  html {
    font-weight: lighter;
  }
}

body, h1, h2, h3, li {
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
}

:global(#root) {
  position: relative;
}

html, body, :global(#root) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:active, button:focus {
  outline: none;
}
