.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    margin: 0 auto;
}

.control-panel-button {
    margin: 0 16px;
}

.folder {
    border: 1px solid #b6bfc5;
    border-radius: 8px;
    width: 260px;
    box-sizing: border-box;
    margin: 16px;
    padding: 8px 16px;
    text-align: center;
    color: #000;
}

.pages {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    margin: 0 auto;
}

.page {
    width: 260px;
    max-width: 100%;
    color: #fff;
    border-radius: 8px;
    margin: 16px;
    text-decoration: none;
    background: #92011e;
    display: flex;
    flex-direction: column;
}

.page-name {
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    flex-grow: 1;
    font-size: 16px;
}

.page-updated {
    padding: 0 16px 16px;
    font-size: 14px;
    text-align: center;
}
